$primaryColor: #1c1b48;
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: $bodyBgColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page {
  background: $primaryColor;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  .text-dark {
    color: $primaryColor;
  }
  .card-login,
  .card-register {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    .logo {
      color: #fff;
      width: 9rem;
      background: $primaryColor;
      padding: 1rem;
    }
  }
}
.btn-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
}
.qa {
  background-color: #f5f6fa;
  height: 100vh;
}
.btn:focus {
  box-shadow: none;
}
.dropdown-menu {
  border-top: 3px solid #6576ff;
  min-width: 180px;
  max-width: 180px;
  overflow: hidden;
  box-shadow: 0 3px 12px 1px rgb(243, 239, 239);
  // box-shadow: inset 0 3px 12px 1px rgba(44 55 130, 0.15);
}
.hide {
  display: none;
}
.show {
  display: block;
}

.remove-btn {
  margin: 0 2rem;
}
.update-btn {
  // border-radius: 50%;
  margin: 0 2rem;
  svg {
    font-size: 1.2rem;
  }
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms eas-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms eas-in;
}

.warningModal {
  .modal-header,
  .btn {
    background: #f65656;
    color: #fff;
    border: 0;
    .btn-close {
      display: none;
    }
    .modal-title {
      width: 100%;
      text-align: center;
    }
    svg {
      margin: auto;
      display: block;
      font-size: 3rem;
    }
  }
  .modal-body {
    text-align: center;
  }
}

.user-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  background: #798bff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  margin: 0 5px;
  text-transform: uppercase;
}
.posted-date {
  font-weight: 400;
  color: #7987a1;
  font-size: 12px;
  display: block;
}

.alert-wrapper-main {
  .alert {
    z-index: 9999;
    top: 0;
    padding: 1.5rem;
    text-align: center;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
