.qa-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  min-width: 320px;
  background: #fff;
  padding: 6px 22px;
  border-bottom: 1px solid #e5e9f2;
  .container-fluid {
    display: flex;
    justify-content: right;
  }

  .btn {
    display: flex;
    align-items: center;
    width: 200px;
    &.dropdown-toggle::after {
      margin-top: -14px;
    }
  }
  .profile-info {
    position: relative;
    padding: 0 8px;
    line-height: 1.1;
    text-align: left;
    .sub-title {
      display: block;
      font-size: 12px;
      font-weight: 500;
      //   position: absolute;
      color: #8094ae;
      //   top: 18px;
      //   left: 8px;
    }
  }
}
