.qa-sideNav {
  background: #101924;
  border-right-color: #203247;
  width: 290px;
  overflow: hidden;
  position: fixed;
  max-height: 100vh;
  z-index: 1021;
  &-head {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 14px 24px;
    min-width: 100%;
    width: 290px;
    height: 65px;
    color: #fff;
    border-bottom: 1px solid #e5e9f2;
    border-color: #203247;
  }
  &-content {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 65px);
  }
  .qa-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 2px 0;
      a {
        vertical-align: middle;
        display: -webkit-flex;
        display: flex;
        position: relative;
        -webkit-align-items: center;
        align-items: center;
        transition: color 0.3s, background-color 0.3s;
        padding: 0.625rem 40px 0.625rem 24px;
        color: #a9abbd;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.01em;
        text-transform: none;
        line-height: 1.25rem;
        &.active,
        &:hover {
          color: #7f8dff;
        }
        svg {
          margin-right: 0.5rem;
          font-size: 21px;
        }
      }
    }
  }
}
